:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --column-width: 42rem;
  --column-margin-top: 4rem;

  --theme-primary: #bb86fc; /* The theme primary color */
  --theme-secondary: #03dac6; /* The theme secondary color */
  --theme-background: #121212; /* The theme background color */
  --theme-surface: #121212; /* The theme surface color */
  --theme-error: #cf6679;
  --theme-on-primary: #000000; /* Text color on top of a primary background */
  --theme-on-secondary: #000000; /* Text color on top of a secondary background */
  --theme-on-background: #ffffff; /* Text color on top of a background */
  --theme-on-surface: #ffffff; /* Text color on top of a surface background */
  --theme-on-error: #000000;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--theme-background);
  color: var(--theme-on-background);
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--theme-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0 0 1em 0;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--theme-on-background);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}
