name: Deploy my website
on:
  issues:
  label:
  push:
    branches:
      - 'main'

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      # Put steps here to build your site, deploy it to a service, etc.

      # - name: Purge cache
      #   uses: jakejarvis/cloudflare-purge-action@master
      #   env:
      #     # Zone is required by both authentication methods
      #     CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
      #     CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
      # - name: Purge cache
      #   uses: aorfanos/cloudflare-purge-action@v1.0.3
      #   env:
      #     CF_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
      #     CF_ZONE_NAME: ${{ secrets.CLOUDFLARE_ZONE }}
      - name: Purge cache
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/zones/${{ secrets.CLOUDFLARE_ZONE }}/purge_cache" -H "Authorization: Bearer ${{ secrets.CLOUDFLARE_TOKEN }}" -H "Content-Type: application/json" --data '{"purge_everything":true}'
